body {
    margin: 0;
    background: linear-gradient(#64b6e6, #dee0fe);
    background-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    align-content: center;
}


.main-map {
    height: 100vh;
    flex: 1;
}

.main {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0px;
    overflow-y: auto;
}

@media (max-width: 500px) {
    .main {
        flex-direction: column;
        height: auto;

    }
}

.float {
    height: 120px;
}


.card {
    width: 350px;
    box-shadow: 7px 7px 15px -1px rgba(0, 0, 0, 0.55);
    margin: 30px;
    background: none;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 42px;
    background-color: #e6e6e6;
}

.status {
    display: flex;
    gap: 7px;
    margin-left: 25px;
    justify-items: center;
    align-items: center;
}

.btn-map{
    width: 50px;
    background-color: none;
    font-size: 10px;
}

.wmo {

    margin-right: 25px;
}

.A-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(80, 198, 74);
    border-radius: 50%;

}

.I-circle {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 0, 0);
    border-radius: 50%;

}


.card-body-float {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.card-body-float .content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 8px;
    padding-left: 14px;
    width: 100%;
    height: 100%;
}

.card-body-float .img-container {
    width: 100px;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    background-color: #e6e6e6;
}



#cycle-line {
    width: 100%;
    display: flex;
    align-items: center;    
    justify-content: space-around;
    gap: 40px;
    height: 40px;
}

.btn-cycle{
    height: 33px;
    width: 150px;
    font-size: 13px;
    font-weight: bold;
    flex: 2;
}

.num-cycle{
    flex:1;
}

.voir-plus-btn{
    color: #e6e6e6 !important;
    text-align: center;
    font-size: 1.08333em;
    margin-left: 10px;
}